body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .three-by-three-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 300px;
    border: 20px solid black;
  }
  
  /*.three-by-three-table, .three-by-three-table td {
    border: 10px solid black;
  }*/
  
  tr, th, td{
    border: 1px solid black;
    padding: 10px;
  }
  